h2, h3 {
    text-align: center;
    color: teal;
}

body {
    background: white;
}

video {
    display: block;
    margin: 0 auto;
    border: 2px outset teal;
}

div {
    margin: auto;
    width: 50%; 
}

div h3 {
    text-align: left;
}

video {
    width: 45%;
}

#discussion {
    color: #0D8768;
    font-style: italic;
}

.name {
    font-weight: bold;
}

.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    margin: auto;
    width: 95%; 
}
  
.darker {
    border-color: #ccc;
    background-color: #ddd;
}