h2, h3 {
    text-align: center;
    color: blue;
}

#welcome {
    color: blue;
    text-align: center;
}

body {
    background: whitesmoke;
}

table, th, td {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 80%;
}
  
th {
    height: 20px;
}

tr:nth-child(even) {background-color: silver;}

th, td {
    padding: 5px;
    /* text-align: left; */
  }

#product {
    /* border: 1px solid blue; */
    border-radius: 4px;
    padding: 5px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#logo {
    padding: 1em;
    /* border: 1px solid blue; */
    /* border-radius: 4px; */
    padding: 5px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;

    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 3s;
    animation-direction: alternate;
}

/* CSS Animations */
@keyframes slidein {
    from {
      margin-left: auto;
      width: 0px; 
    }
  
    to {
      margin-left: auto;
      width: 300px;
    }
}

/* CSS for transition */
  section {
    padding: 1em;
    margin: 0 auto;
    width: 400px;
    height: 268px;
    position: relative;
  }
  
  section img {
    margin: 0 auto;
    width: 400px;
    height: 268px;
    position: absolute;
  }

  .top {
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
  }
  
  @keyframes fade {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }